<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="default">
	<bean id="familydetail"
		class="com.example.annotations.bean.FamilyDetail"
		autowire="constructor">

</bean>
	<bean id="parent" class="com.example.annotations.bean.Parent">

</bean>
<bean id="children" class="com.example.annotations.bean.Children">


</bean>
</beans>
